* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans";
  display: grid;
  grid-template-columns: minmax(320px, 1fr);
}

h1 {
  font-size: 60px;
  font-weight: 500;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 18px;
}

h1, h2, h3 {
  margin: 0;
  color: #232323;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  font-weight: 600;
}

a {
  text-decoration: none;
}

p {
  margin: 0px;
}

em {
  font-style: normal;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #e7e7e7;
}

.header__contactos {
  display: none;
}

.header__contactos li {
  font-weight: 400;
}

.header__logo-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.header__logo img {
  width: 60px;
}

.header__logo-icon p {
  font-size: 14px;
  font-weight: 500;
}

.header__icon img {
  width: 30px;
  cursor: pointer;
}

.header__nav {
  transform: translateX(-100%);
  position: absolute;
}

.main-nav--show {
  transform: translateX(0%);
  position: relative;
  transition: all 0.5s;
}

.menu {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #e7e7e7;
  text-align: center;
}

.menu__links {
  font-weight: 500;
  font-size: 14px;
  color: #232323;
}

.menu__list:last-child .menu__links {
  background-color: #0575E6;
  padding: 10px 30px;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 600;
}

@media screen and (min-width: 360px) {
  .header__logo-icon p {
    font-size: 16px;
  }
}
@media screen and (min-width: 600px) {
  .header__logo-icon {
    padding: 10px 50px;
  }

  .header__logo-icon p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1300px) {
  .header__contactos {
    display: block;
    background-color: #0575E6;
    padding: 10px 130px;
  }

  .header__contactos .img-icon {
    width: 25px;
  }

  .header__contactos ul {
    display: flex;
    justify-content: flex-start;
  }

  .header__contactos em {
    font-size: 12px;
    margin-left: 10px;
    color: #e7e7e7;
  }

  .header__contactos-ubicacion, .header__contactos-telefono, .header__contactos-gmail, .header__contactos-reloj {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  .header__logo-icon {
    padding: 10px 150px;
  }
}
@media screen and (min-width: 1500px) {
  .header__contactos {
    padding: 10px 200px;
  }

  .header__logo-icon {
    padding: 10px 200px;
  }
}
@media screen and (min-width: 1600px) {
  .header__main {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .header__logo-icon {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }

  .header__logo-icon p {
    display: none;
  }

  .header__icon {
    display: none;
  }

  .header__nav {
    width: 100%;
    padding: 0px 200px 0px 0px;
    transform: translateX(0);
    position: relative;
  }

  .menu {
    height: 100%;
    background-color: #ffffff;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .menu__list {
    margin-left: 30px;
  }

  .menu__links {
    font-weight: 600;
  }

  .menu__list:nth-child(5) .menu__links {
    background-color: #0575E6;
    padding: 10px 30px;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 600;
  }
}
.footer__contenedor {
  padding: 50px 20px 0px;
  background-color: #e9e9e9;
}

.footer__contenedor-title h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #232323;
  border-bottom: 2px solid #a7a7a7;
}

.footer__contenedor-contactos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  grid-gap: 50px;
  padding: 20px 0px;
}

.contenedor__icons {
  display: grid;
  justify-items: center;
  grid-gap: 10px;
  text-align: center;
}

.contenedor__icons img {
  width: 80px;
}

.contenedor__icons h3 {
  font-size: 16px;
  font-weight: 500;
  color: #414141;
}

.contenedor__icons p {
  font-size: 14px;
  font-weight: 300;
  color: #414141;
}

.footer__formulario {
  padding: 20px 0px;
}

.footer__formulario-title h3 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: #0575E6;
}

.footer__formulario-input form {
  display: grid;
  grid-gap: 15px;
  margin: 20px 0px;
}

.footer__formulario-input form {
  width: 90%;
  display: grid;
  grid-gap: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer__formulario-input-button {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.footer__formulario-input input:nth-child(5) {
  width: 150px;
  padding: 10px;
  color: #fff;
  background-color: #0575E6;
  border: 0px;
  border-radius: 10px;
  font-weight: 600;
}

.footer__mapa {
  padding: 20px 0px;
}

.footer__mapa-title h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  color: #0575E6;
}

.footer__mapa iframe {
  max-width: 100%;
}

.footer-derechos-reservados {
  padding: 20px;
  background-color: #333333;
}

.footer-derechos-reservados p {
  color: #E9EAEB;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

@media screen and (min-width: 500px) {
  .footer__formulario-input, .footer__formulario-input-button {
    width: 60%;
  }
}
@media screen and (min-width: 600px) {
  .footer__contenedor {
    padding: 50px 50px 0px;
  }
}
@media screen and (min-width: 800px) {
  .footer__contenedor {
    padding: 100px 50px 20px;
  }

  .footer__formulario-input, .footer__formulario-input-button {
    width: 50%;
  }

  .footer__contenedor-title h2 {
    font-size: 30px;
  }

  .footer__contenedor-contactos {
    padding: 100px 0px;
  }

  .footer__formulario {
    padding: 20px 0px 50px;
  }

  .footer__mapa {
    text-align: center;
  }
}
@media screen and (min-width: 1300px) {
  .footer__contenedor {
    padding: 100px 150px 100px;
  }

  .footer-formulario-mapa {
    display: flex;
    justify-content: center;
  }

  .footer__formulario {
    width: 40%;
  }

  .footer__formulario-input, .footer__formulario-input-button {
    width: 80%;
  }

  .footer__formulario, .footer__mapa {
    padding: 0px;
  }

  .footer__mapa iframe {
    width: 600px;
    height: 350px;
  }
}
@media screen and (min-width: 1500px) {
  .footer__contenedor {
    padding: 100px 200px 100px;
  }

  .contenedor__icons h3 {
    font-size: 20px;
  }

  .contenedor__icons p {
    font-size: 16px;
  }
}
.menu-navegacion {
  background-color: #f7f8fb;
  padding: 50px 200px;
}

.menu-navegacion a {
  font-weight: 600;
  color: #292B2C;
  font-size: 14px;
}

.menu-navegacion a:nth-child(4) {
  color: #1e83e9;
}

@media screen and (min-width: 1300px) {
  .menu-navegacion a {
    font-size: 16px;
  }
}
.producto {
  padding: 100px 200px;
  display: flex;
  justify-content: space-evenly;
}

.producto__img {
  padding: 20px;
  border: 1px solid #707070;
}

.producto__img img {
  width: 540px;
  height: 600px;
}

.producto__caracteristicas {
  width: 55%;
  padding: 0px 20px;
}

.producto__caracteristicas h1 {
  font-size: 40px;
}

.precio__dolares, .precio__soles {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.precio__dolares p:first-child, .precio__soles p:first-child {
  font-size: 25px;
  color: #1E83E9;
}

.precio__dolares p, .precio__soles p {
  font-size: 14px;
  color: #687188;
  margin-left: 10px;
  font-weight: 500;
}

.informacion__producto p {
  margin: 5px 0px;
  color: #292B2C;
}

.producto__botton {
  margin: 30px 0px;
}

hr {
  margin: 20px 0px;
}

.button {
  background-color: #0575E6;
  padding: 10px 30px;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 600;
}

.producto__stock, .producto__categoria, .producto__marca {
  display: flex;
}

.producto__stock p:first-child, .producto__categoria p:first-child, .producto__marca p:first-child {
  color: #687188;
  margin-right: 10px;
}

.producto__stock p, .producto__categoria p, .producto__marca p {
  font-weight: 500;
  color: #292B2C;
  margin: 5px 0px;
}

@media screen and (max-width: 1600px) {
  .menu-navegacion {
    padding: 50px 100px;
  }

  .producto {
    padding: 50px 100px;
  }

  .producto__caracteristicas h1 {
    font-size: 30px;
  }

  .producto__img img {
    width: 440px;
    height: 500px;
  }
}
@media screen and (max-width: 1200px) {
  .menu-navegacion {
    padding: 50px 100px;
  }

  .producto {
    padding: 50px 100px;
  }

  .producto__img img {
    width: 350px;
    height: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .menu-navegacion {
    padding: 50px;
  }

  .producto {
    display: grid;
    justify-items: center;
    padding: 50px;
  }

  .producto__img {
    width: 540px;
  }

  .producto__img img {
    width: 500px;
    height: 550px;
  }

  .producto__caracteristicas {
    width: 80%;
    margin-top: 20px;
  }

  .precio__dolares p:first-child, .precio__soles p:first-child {
    margin-left: 0px;
    margin-right: 10px;
  }

  .precio__dolares p, .precio__soles p {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 800px) {
  .producto__caracteristicas {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .menu-navegacion {
    padding: 50px 20px 20px 20px;
  }

  .producto {
    padding: 20px;
  }

  .producto__img {
    width: 300px;
    padding: 5px;
  }

  .producto__img img {
    width: 290px;
    height: 320px;
  }

  .producto__caracteristicas {
    width: 100%;
    padding: 0px;
  }

  .producto__caracteristicas h1 {
    font-size: 20px;
  }

  .precio__dolares p:first-child, .precio__soles p:first-child {
    font-size: 16px;
  }

  .precio__dolares p, .precio__soles p {
    font-size: 14px;
  }

  .producto__botton a {
    font-size: 14px;
  }
}